<body class="bgbodyUserprofile">
	<div class="chat_window">
		<div class="top_menu">
			<div class="title">{{chatWith}}</div>
		</div>
		<ul class="messages">
		{{#each chat}}
		<li>
		<div style="width: 100%;"><span style="color: white; background-color: #2196f3; height: 30px; border-radius: 3px;">{{senderID}}</span>-<span style="color: black; background-color: white;height: 25px; border-radius: 3px;">{{message}}</span></div>
		</li>
		{{/each}}
		</ul>
		<form action="/chatMessages" method="POST">
		<div class="bottom_wrapper clearfix">
			<div class="message_input_wrapper">
				<input type="text" class="message_input" name="chatToBeSend" placeholder="Type your message here..."/>
			</div>
				<div class="send_message">
					<button class="btn btn-info btn-lg" type="submit">SEND</button>
				</div>
			</form>
		</div>
	</div>
	<div class="message_template">
		<li class="message">
			<div class="avatar"></div>
			<div class="text_wrapper">
				<div class="text">
				</div>
			</div>
		</li>
	</div>
</body>
